{"swagger":"2.0","info":{"version":"1.2.9.v20190801","title":"小额保险后台管理系统对接API接口","termsOfService":"http://www.cfpamf.org.cn","contact":{"name":"zhangnayi"}},"host":"safes-biz.tsg.cfpamf.com","basePath":"/","tags":[{"name":"保险客户管理接口","description":"Customer Controller"},{"name":"系统文件管理接口","description":"System File Controller"},{"name":"保险理赔管理接口","description":"Sm Claim Controller"},{"name":"系统字典配置接口","description":"Dictionary Controller"},{"name":"保险代理人接口","description":"Sm Agent Controller"},{"name":"保险员工管理接口","description":"User Controller"},{"name":"保险公司参数配置接口","description":"Sm Cmpy Setting Controller"},{"name":"活动设置管理接口","description":"System Activity Controller"},{"name":"保险业务报表接口","description":"Sm Report Controller"},{"name":"保险理赔催办列表接口","description":"Sm Claim Hasten Controller"},{"name":"保险产品海报管理接口","description":"Sm Product Poster Controller"},{"name":"保险公司管理接口","description":"Company Controller"},{"name":"系统日志管理接口","description":"System Log Controller"},{"name":"轮播图配置管理接口","description":"Lbt Setting Controller"},{"name":"保险产品提成配置接口","description":"Sm Commission Controller"},{"name":"推送设置管理接口","description":"System Push Controller"},{"name":"保险产品管理接口","description":"Sm Product Controller"},{"name":"保险订单管理接口","description":"Sm Order Controller"}],"paths":{"/activity/setting":{"post":{"tags":["活动设置管理接口"],"summary":"保存系统活动","operationId":"saveSystemActivityUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/SystemActivityDTO"}}],"responses":{"200":{"description":"OK"}}}},"/activity/setting/{saId}":{"get":{"tags":["活动设置管理接口"],"summary":"查询系统活动详情","operationId":"getSystemActivityByIdUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"saId","in":"path","description":"saId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SystemActivityVO"}}}},"delete":{"tags":["活动设置管理接口"],"summary":"删除系统活动","operationId":"deleteSystemActivityUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"saId","in":"path","description":"saId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"}}}},"/activity/setting/{saId}/status":{"put":{"tags":["活动设置管理接口"],"summary":"修改系统活动启用状态","operationId":"updateSystemActivityStatusUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"saId","in":"path","description":"saId","required":true,"type":"integer","format":"int32"},{"name":"status","in":"query","description":"status","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"}}}},"/activity/settings":{"get":{"tags":["活动设置管理接口"],"summary":"查询系统活动","operationId":"getSystemActivityUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SystemActivityQuery"}},{"name":"page","in":"query","description":"第几页","required":true,"type":"string"},{"name":"size","in":"query","description":"每页数量","required":true,"type":"string"},{"name":"startDate","in":"query","description":"开始时间","required":false,"type":"string","format":"date"},{"name":"endDate","in":"query","description":"结束时间","required":false,"type":"string","format":"date"},{"name":"title","in":"query","description":"活动名称","required":false,"type":"string"},{"name":"activeFlag","in":"query","description":"是否开启(0禁用 1启用)","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageInfo«SystemActivityVO»"}}}}},"/agent":{"get":{"tags":["保险代理人接口"],"summary":"查询代理人分页列表","operationId":"getAgentByPageUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmAgentQuery"}},{"name":"page","in":"query","description":"第几页","required":true,"type":"string"},{"name":"size","in":"query","description":"每页数量","required":true,"type":"string"},{"name":"agentName","in":"query","description":"代理人姓名","required":false,"type":"string"},{"name":"agentLevel","in":"query","description":"代理人等级","required":false,"type":"string"},{"name":"agentStatus","in":"query","description":"代理人状态","required":false,"type":"string"},{"name":"agentType","in":"query","description":"代理人种类","required":false,"type":"string"},{"name":"teamName","in":"query","description":"团队名称","required":false,"type":"string"},{"name":"parentAgentId","in":"query","description":"父级代理人Id","required":false,"type":"string"},{"name":"teamId","in":"query","description":"团队Id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageInfo«SmAgentVO»"}}}}},"/agent/account/employee":{"post":{"tags":["保险代理人接口"],"summary":"开通单个内部员工代理人账号","operationId":"openAgentAccountByEmployeeUserIdUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"userId","in":"query","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"/agent/account/org":{"post":{"tags":["保险代理人接口"],"summary":"开通试点区域内部员工代理人账号","operationId":"openAgentAccountByOrgPathUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"orgPath","in":"query","description":"orgPath","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"/agent/cms/setting":{"get":{"tags":["保险代理人接口"],"summary":"查询代理人分佣比例设置","operationId":"getAgentCmsSettingsUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SmAgentCmsSettingVO"}}}}},"post":{"tags":["保险代理人接口"],"summary":"保存代理人分佣比例设置","operationId":"saveAgentCmsSettingUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"psos","description":"psos","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/SmAgentCmsSettingDTO"}}}],"responses":{"200":{"description":"OK"}}}},"/agent/download":{"get":{"tags":["保险代理人接口"],"summary":"下载代理人列表","operationId":"downloadAgentsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmAgentQuery"}},{"name":"agentName","in":"query","description":"代理人姓名","required":false,"type":"string"},{"name":"agentLevel","in":"query","description":"代理人等级","required":false,"type":"string"},{"name":"agentStatus","in":"query","description":"代理人状态","required":false,"type":"string"},{"name":"teamId","in":"query","description":"团队Id","required":false,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"/agent/order":{"get":{"tags":["保险代理人接口"],"summary":"查询代理人业绩列表","operationId":"getAgentCmsByPageUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmAgentCmsQuery"}},{"name":"page","in":"query","description":"第几页","required":true,"type":"string"},{"name":"size","in":"query","description":"每页数量","required":true,"type":"string"},{"name":"startDate","in":"query","description":"开始时间","required":false,"type":"string","format":"date"},{"name":"endDate","in":"query","description":"结束时间","required":false,"type":"string","format":"date"},{"name":"regionName","in":"query","description":"所属区域","required":false,"type":"string"},{"name":"organizationName","in":"query","description":"所属机构","required":false,"type":"string"},{"name":"agentName","in":"query","description":"代理人名称","required":false,"type":"string"},{"name":"teamName","in":"query","description":"团队名称","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageInfo«SmAgentTimeOrderListVO»"}}}}},"/agent/order/cms":{"get":{"tags":["保险代理人接口"],"summary":"查询代理人佣金","operationId":"getAgentMonthCmsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmAgentTeamCmsQuery"}},{"name":"page","in":"query","description":"第几页","required":true,"type":"string"},{"name":"size","in":"query","description":"每页数量","required":true,"type":"string"},{"name":"agentName","in":"query","description":"代理人名称","required":false,"type":"string"},{"name":"teamId","in":"path","description":"团队Id","required":false,"type":"string"},{"name":"teamName","in":"path","description":"团队Id","required":false,"type":"string"},{"name":"startDate","in":"query","description":"开始时间","required":false,"type":"string","format":"date"},{"name":"endDate","in":"query","description":"结束时间","required":false,"type":"string","format":"date"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageInfo«SmAgentMonthCmsVO»"}}}}},"/agent/order/cms/download":{"get":{"tags":["保险代理人接口"],"summary":"下载代理人佣金","operationId":"downloadAgentMonthCmsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmAgentTeamCmsQuery"}},{"name":"agentName","in":"query","description":"代理人名称","required":false,"type":"string"},{"name":"teamId","in":"path","description":"团队Id","required":false,"type":"string"},{"name":"teamName","in":"path","description":"团队Id","required":false,"type":"string"},{"name":"startDate","in":"query","description":"开始时间","required":false,"type":"string","format":"date"},{"name":"endDate","in":"query","description":"结束时间","required":false,"type":"string","format":"date"}],"responses":{"200":{"description":"OK"}}}},"/agent/order/download":{"get":{"tags":["保险代理人接口"],"summary":"下载代理人业绩列表","operationId":"downloadAgentCmsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmAgentCmsQuery"}},{"name":"startDate","in":"query","description":"开始时间","required":false,"type":"string","format":"date"},{"name":"endDate","in":"query","description":"结束时间","required":false,"type":"string","format":"date"},{"name":"regionName","in":"query","description":"所属区域","required":false,"type":"string"},{"name":"organizationName","in":"query","description":"所属机构","required":false,"type":"string"},{"name":"agentName","in":"query","description":"代理人名称","required":false,"type":"string"},{"name":"teamName","in":"query","description":"团队名称","required":false,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"/agent/order/smy":{"get":{"tags":["保险代理人接口"],"summary":"查询代理人业绩汇总","operationId":"getAgentCmsSmyUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmAgentCmsQuery"}},{"name":"startDate","in":"query","description":"开始时间","required":false,"type":"string","format":"date"},{"name":"endDate","in":"query","description":"结束时间","required":false,"type":"string","format":"date"},{"name":"regionName","in":"query","description":"所属区域","required":false,"type":"string"},{"name":"organizationName","in":"query","description":"所属机构","required":false,"type":"string"},{"name":"agentName","in":"query","description":"代理人名称","required":false,"type":"string"},{"name":"teamName","in":"query","description":"团队名称","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmAgentTimeOrderSmyVO"}}}}},"/agent/setting/level":{"get":{"tags":["保险代理人接口"],"summary":"查询代理等级管理津贴设置","operationId":"getAgentLevelAllowanceSettingsUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SmAgentLevelAllowanceSettingVO"}}}}},"post":{"tags":["保险代理人接口"],"summary":"保存代理等级管理津贴设置","operationId":"saveAgentLevelAllowanceSettingUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/SmAgentLevelAllowanceSettingDTO"}}],"responses":{"200":{"description":"OK"}}}},"/agent/setting/level/{levelId}":{"delete":{"tags":["保险代理人接口"],"summary":"删除代理等级管理津贴设置","operationId":"deleteAgentLevelAllowanceSettingUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"levelId","in":"path","description":"levelId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"}}}},"/agent/status":{"post":{"tags":["保险代理人接口"],"summary":"变更代理人状态","operationId":"changeAgentStatusUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"agentIds","in":"query","description":"代理人Id数组","required":false,"type":"string"},{"name":"status","in":"query","description":"团队状态","required":false,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"/agent/team":{"get":{"tags":["保险代理人接口"],"summary":"查询代理团队分页列表","operationId":"getAgentTeamsByPageUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmTeamQuery"}},{"name":"page","in":"query","description":"第几页","required":true,"type":"string"},{"name":"size","in":"query","description":"每页数量","required":true,"type":"string"},{"name":"agentName","in":"query","description":"团队负责人","required":false,"type":"string"},{"name":"teamName","in":"query","description":"团队名称","required":false,"type":"string"},{"name":"keyword","in":"query","description":"模糊查询","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageInfo«SmTeamListVO»"}}}}},"/agent/team/download":{"get":{"tags":["保险代理人接口"],"summary":"下载代理团队列表","operationId":"downloadAgentTeamsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmTeamQuery"}},{"name":"page","in":"query","description":"第几页","required":true,"type":"string"},{"name":"size","in":"query","description":"每页数量","required":true,"type":"string"},{"name":"agentName","in":"query","description":"团队负责人","required":false,"type":"string"},{"name":"teamName","in":"query","description":"团队名称","required":false,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"/agent/team/order":{"get":{"tags":["保险代理人接口"],"summary":"查询代理团队业绩列表","operationId":"getAgentTeamCmsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmAgentTeamCmsQuery"}},{"name":"page","in":"query","description":"第几页","required":true,"type":"string"},{"name":"size","in":"query","description":"每页数量","required":true,"type":"string"},{"name":"regionName","in":"query","description":"所属区域","required":false,"type":"string"},{"name":"organizationName","in":"query","description":"所属机构","required":false,"type":"string"},{"name":"teamName","in":"query","description":"团队名称","required":false,"type":"string"},{"name":"teamId","in":"query","description":"团队Id","required":false,"type":"string"},{"name":"startDate","in":"query","description":"开始时间","required":false,"type":"string","format":"date"},{"name":"endDate","in":"query","description":"结束时间","required":false,"type":"string","format":"date"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageInfo«SmAgentTeamOrderListVO»"}}}}},"/agent/team/order/download":{"get":{"tags":["保险代理人接口"],"summary":"下载代理团队业绩列表","operationId":"downloadAgentTeamCmsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmAgentTeamCmsQuery"}},{"name":"regionName","in":"query","description":"所属区域","required":false,"type":"string"},{"name":"organizationName","in":"query","description":"所属机构","required":false,"type":"string"},{"name":"teamName","in":"query","description":"团队名称","required":false,"type":"string"},{"name":"teamId","in":"query","description":"团队Id","required":false,"type":"string"},{"name":"startDate","in":"query","description":"开始时间","required":false,"type":"string","format":"date"},{"name":"endDate","in":"query","description":"结束时间","required":false,"type":"string","format":"date"}],"responses":{"200":{"description":"OK"}}}},"/agent/team/order/smy":{"get":{"tags":["保险代理人接口"],"summary":"查询代理团队业绩汇总","operationId":"getAgentTeamCmsSmyUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmAgentTeamCmsQuery"}},{"name":"teamName","in":"query","description":"团队名称","required":false,"type":"string"},{"name":"teamId","in":"query","description":"团队Id","required":false,"type":"string"},{"name":"regionName","in":"query","description":"所属区域","required":false,"type":"string"},{"name":"organizationName","in":"query","description":"所属机构","required":false,"type":"string"},{"name":"startDate","in":"query","description":"开始时间","required":false,"type":"string","format":"date"},{"name":"endDate","in":"query","description":"结束时间","required":false,"type":"string","format":"date"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmAgentTeamOrderSmyVO"}}}}},"/agent/team/{teamId}":{"get":{"tags":["保险代理人接口"],"summary":"查询单个代理团队详情","operationId":"getAgentTeamByTeamIdUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"teamId","in":"path","description":"teamId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmTeamDetailVO"}}}}},"/agent/team/{teamId}/order":{"get":{"tags":["保险代理人接口"],"summary":"查询代理团队业绩明细","operationId":"getSingleAgentTeamCmsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmAgentTeamCmsQuery"}},{"name":"page","in":"query","description":"第几页","required":true,"type":"string"},{"name":"size","in":"query","description":"每页数量","required":true,"type":"string"},{"name":"agentName","in":"query","description":"代理人名称","required":false,"type":"string"},{"name":"startDate","in":"query","description":"开始时间","required":false,"type":"string","format":"date"},{"name":"endDate","in":"query","description":"结束时间","required":false,"type":"string","format":"date"},{"name":"teamId","in":"path","description":"团队Id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageInfo«SmAgentTeamOrderDetailVO»"}}}}},"/agent/{agentId}":{"get":{"tags":["保险代理人接口"],"summary":"查询单个代理人详情","operationId":"getAgentByAgentIdUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmAgentVO"}}}}},"/agent/{agentId}/order":{"get":{"tags":["保险代理人接口"],"summary":"查询代理人业绩明细","operationId":"getSingleAgentCmsByPageUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmAgentCmsQuery"}},{"name":"page","in":"query","description":"第几页","required":true,"type":"string"},{"name":"size","in":"query","description":"每页数量","required":true,"type":"string"},{"name":"startDate","in":"query","description":"开始时间","required":false,"type":"string","format":"date"},{"name":"endDate","in":"query","description":"结束时间","required":false,"type":"string","format":"date"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageInfo«SmAgentTimeOrderDetailVO»"}}}}},"/api/v1/order/callback":{"post":{"tags":["保险订单管理接口"],"summary":"泛华小额保险支付回调接口","operationId":"handFhOrderPayedCallbackUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"orderSn","in":"query","description":"orderSn","required":true,"type":"string"},{"name":"recommendId","in":"query","description":"recommendId","required":false,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"/api/v1/order/cic/payCallback":{"post":{"tags":["保险订单管理接口"],"summary":"中华联合小额保险支付回调接口","operationId":"handCicOrderPayedCallbackUsingPOST","consumes":["text/xml"],"produces":["text/xml"],"parameters":[{"in":"body","name":"xml","description":"xml","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/v1/order/cic/payRedirect":{"post":{"tags":["保险订单管理接口"],"summary":"中华保险支付POST重定向","operationId":"cicPayRedirectUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"fhOrderId","in":"query","description":"fhOrderId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"/api/v1/order/commission/download":{"get":{"tags":["保险订单管理接口"],"summary":"下载小额保险提成","operationId":"downloadOrderCommissionUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmOrderQuery"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/order/correct":{"get":{"tags":["保险订单管理接口"],"summary":"查询订单批改记录列表","operationId":"getOrderCorrectRecordsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmOrderCorrectQuery"}},{"name":"page","in":"query","description":"第几页","required":true,"type":"string"},{"name":"size","in":"query","description":"每页数量","required":true,"type":"string"},{"name":"startDate","in":"query","description":"批改时间From","required":false,"type":"string","format":"date"},{"name":"endDate","in":"query","description":"批改时间To","required":false,"type":"string","format":"date"},{"name":"policyNo","in":"query","description":"保单号","required":false,"type":"string"},{"name":"fieldCode","in":"query","description":"变更项目","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageInfo«SmOrderCorrectRecordVO»"}}}},"post":{"tags":["保险订单管理接口"],"summary":"订单批改接口","operationId":"correctOrderUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/SmOrderCorrectDTO"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/order/correct/fields":{"get":{"tags":["保险订单管理接口"],"summary":"订单批改项目列表","operationId":"getOrderCorrectFieldsUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CodeName"}}}}}},"/api/v1/order/download":{"get":{"tags":["保险订单管理接口"],"summary":"下载小额保险订单","operationId":"downloadOrdersUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmOrderQuery"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/order/fh/payRedirect":{"get":{"tags":["保险订单管理接口"],"summary":"泛华支付GET重定向","operationId":"fhPayRedirectUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"orderId","in":"query","description":"orderId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"/api/v1/order/order/{id}":{"post":{"tags":["保险订单管理接口"],"summary":"更新订单与泛华同步","operationId":"updateFhOrderInfoUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"/api/v1/order/query":{"post":{"tags":["保险订单管理接口"],"summary":"查询订单分页列表","operationId":"getOrderByPageUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":true,"schema":{"$ref":"#/definitions/SmOrderQuery"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageInfo«SmOrderListVO»"}}}}},"/api/v1/order/query/commission":{"post":{"tags":["保险订单管理接口"],"summary":"查询小额保险提成页列表","operationId":"getOrderCommissionByPageUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":true,"schema":{"$ref":"#/definitions/SmOrderQuery"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageInfo«SmOrderListVO»"}}}}},"/api/v1/order/query/commission/smy":{"post":{"tags":["保险订单管理接口"],"summary":"查询小额保险提成列表汇总","operationId":"getOrderCommissionSummaryUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":true,"schema":{"$ref":"#/definitions/SmOrderQuery"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmOrderSummaryVO"}}}}},"/api/v1/order/query/smy":{"post":{"tags":["保险订单管理接口"],"summary":"查询订单分页列表汇总","operationId":"getOrderSummaryUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":true,"schema":{"$ref":"#/definitions/SmOrderQuery"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmOrderSummaryVO"}}}}},"/api/v1/order/supplement":{"get":{"tags":["保险订单管理接口"],"summary":"查询补单记录","operationId":"getSupplementOrderUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/OrderSupmtQuery"}},{"name":"page","in":"query","description":"第几页","required":true,"type":"string"},{"name":"size","in":"query","description":"每页数量","required":true,"type":"string"},{"name":"createDateStart","in":"query","description":"创建时间开始","required":false,"type":"string","format":"date"},{"name":"createDateEnd","in":"query","description":"创建时间结束","required":false,"type":"string","format":"date"},{"name":"spmDateStart","in":"query","description":"补单时间开始","required":false,"type":"string","format":"date"},{"name":"spmDateEnd","in":"query","description":"补单时间结束","required":false,"type":"string","format":"date"},{"name":"fhOrderId","in":"query","description":"订单号","required":false,"type":"string"},{"name":"recommendPerson","in":"query","description":"推荐人","required":false,"type":"string"},{"name":"applicantPersonName","in":"query","description":"投保人","required":false,"type":"string"},{"name":"insuredPersonName","in":"query","description":"被保人","required":false,"type":"string"},{"name":"agentName","in":"query","description":"代理人","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageInfo«SmOrderSupmtRecordVO»"}}}},"post":{"tags":["保险订单管理接口"],"summary":"订单补单同步到系统","operationId":"supplementOrderUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/SmOrderSupmtDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v1/order/update/batch":{"post":{"tags":["保险订单管理接口"],"summary":"批量更新订单与泛华同步","operationId":"batchUpdateFhOrderInfoUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ids","in":"query","description":"ids","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK"}}}},"/claim":{"get":{"tags":["保险理赔管理接口"],"summary":"查询订单理赔列表","operationId":"getSmClaimByPageUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmClaimQuery"}},{"name":"reportDateStart","in":"query","description":"报案时间 From","required":false,"type":"string","format":"date"},{"name":"reportDateEnd","in":"query","description":"报案时间 To","required":false,"type":"string","format":"date"},{"name":"riskDateStart","in":"query","description":"出险时间 From","required":false,"type":"string","format":"date"},{"name":"riskDateEnd","in":"query","description":"出险时间 To","required":false,"type":"string","format":"date"},{"name":"finishDateStart","in":"query","description":"结案时间 From","required":false,"type":"string","format":"date"},{"name":"finishDateEnd","in":"query","description":"结案时间 To","required":false,"type":"string","format":"date"},{"name":"claimNo","in":"query","description":"编号","required":false,"type":"string"},{"name":"custManager","in":"query","description":"客户经理","required":false,"type":"string"},{"name":"policyNo","in":"query","description":"保单号","required":false,"type":"string"},{"name":"insuredPerson","in":"query","description":"被保人","required":false,"type":"string"},{"name":"riskType","in":"query","description":"出险类型","required":false,"type":"string"},{"name":"claimState","in":"query","description":"结案结果","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageInfo«SmClaimVO»"}}}}},"/claim/download":{"get":{"tags":["保险理赔管理接口"],"summary":"订单理赔列表下载","operationId":"downloadClaimsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmClaimQuery"}}],"responses":{"200":{"description":"OK"}}}},"/claim/hasten":{"get":{"tags":["保险理赔催办列表接口"],"summary":"催办列表","operationId":"listUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmClaimHastenQuery"}},{"name":"page","in":"query","description":"第几页","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"每页多少行 From","required":false,"type":"integer","format":"int32"},{"name":"reportDateStart","in":"query","description":"报案时间 From","required":false,"type":"string","format":"date"},{"name":"reportDateEnd","in":"query","description":"报案时间 To","required":false,"type":"string","format":"date"},{"name":"riskDateStart","in":"query","description":"出险时间 From","required":false,"type":"string","format":"date"},{"name":"riskDateEnd","in":"query","description":"出险时间 To","required":false,"type":"string","format":"date"},{"name":"claimNo","in":"query","description":"编号","required":false,"type":"string"},{"name":"custManager","in":"query","description":"客户经理","required":false,"type":"string"},{"name":"policyNo","in":"query","description":"保单号","required":false,"type":"string"},{"name":"insuredPerson","in":"query","description":"被保人","required":false,"type":"string"},{"name":"riskType","in":"query","description":"出险类型","required":false,"type":"string"},{"name":"timeout","in":"query","description":"超时天数 >=","required":false,"type":"integer","format":"int32"},{"name":"hastenBetween","in":"query","description":"上次催办 >=","required":false,"type":"integer","format":"int32"},{"name":"agentId","in":"query","description":"代理人ID","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageInfo«催办列表»"}}}},"post":{"tags":["保险理赔催办列表接口"],"summary":"催办 批量催办","operationId":"hastenUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"claimIds","description":"理赔ID列表","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SmClaimHastenResultVO"}}}}}},"/claim/hasten/download":{"get":{"tags":["保险理赔催办列表接口"],"summary":"催办列表下载","operationId":"excelUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmClaimHastenQuery"}}],"responses":{"200":{"description":"OK"}}}},"/claim/settlement":{"get":{"tags":["保险理赔管理接口"],"summary":"查询订单理赔详理赔专员列表","operationId":"getClaimSettlementUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/User"}}}}}},"/claim/summary/org":{"get":{"tags":["保险理赔管理接口"],"summary":"查询订单理赔报表-机构理赔数据","operationId":"getClaimSummaryByOrgUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmClaimSmyQuery"}},{"name":"startDate","in":"query","description":"开始时间 From","required":false,"type":"string","format":"date"},{"name":"endDate","in":"query","description":"结束时间 To","required":false,"type":"string","format":"date"},{"name":"regionName","in":"query","description":"区域","required":false,"type":"string"},{"name":"orgName","in":"query","description":"分支","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmyPageInfo«SmClaimOrgSummaryVO,SmClaimSummaryVO»"}}}}},"/claim/summary/org/download":{"get":{"tags":["保险理赔管理接口"],"summary":"查询订单理赔报表-机构理赔数据下载","operationId":"downloadSmClaimOrgSummaryUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmClaimSmyQuery"}},{"name":"startDate","in":"query","description":"开始时间 From","required":false,"type":"string","format":"date"},{"name":"endDate","in":"query","description":"结束时间 To","required":false,"type":"string","format":"date"},{"name":"regionName","in":"query","description":"区域","required":false,"type":"string"},{"name":"orgName","in":"query","description":"分支","required":false,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"/claim/summary/product":{"get":{"tags":["保险理赔管理接口"],"summary":"查询订单理赔-产品报表","operationId":"getClaimSummaryByProductUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmClaimSmyQuery"}},{"name":"startDate","in":"query","description":"开始时间 From","required":false,"type":"string","format":"date"},{"name":"endDate","in":"query","description":"结束时间 To","required":false,"type":"string","format":"date"},{"name":"productName","in":"query","description":"产品名称","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmyPageInfo«SmClaimProductSummaryVO,SmClaimSummaryVO»"}}}}},"/claim/summary/product/download":{"get":{"tags":["保险理赔管理接口"],"summary":"查询订单理赔报表-产品下载","operationId":"downloadSmClaimProductSummaryUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmClaimSmyQuery"}},{"name":"startDate","in":"query","description":"开始时间 From","required":false,"type":"string","format":"date"},{"name":"endDate","in":"query","description":"结束时间 To","required":false,"type":"string","format":"date"},{"name":"regionName","in":"query","description":"区域","required":false,"type":"string"},{"name":"orgName","in":"query","description":"分支","required":false,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"/claim/summary/region":{"get":{"tags":["保险理赔管理接口"],"summary":"查询订单理赔报表-区域理赔数据","operationId":"getClaimSummaryByRegionUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmClaimSmyQuery"}},{"name":"startDate","in":"query","description":"开始时间 From","required":false,"type":"string","format":"date"},{"name":"endDate","in":"query","description":"结束时间 To","required":false,"type":"string","format":"date"},{"name":"regionName","in":"query","description":"区域","required":false,"type":"string"},{"name":"orgName","in":"query","description":"分支","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmyPageInfo«SmClaimRegionSummaryVO,SmClaimSummaryVO»"}}}}},"/claim/summary/region/download":{"get":{"tags":["保险理赔管理接口"],"summary":"查询订单理赔报表-区域理赔数据下载","operationId":"downloadSmClaimRegionSummaryUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmClaimSmyQuery"}},{"name":"startDate","in":"query","description":"开始时间 From","required":false,"type":"string","format":"date"},{"name":"endDate","in":"query","description":"结束时间 To","required":false,"type":"string","format":"date"},{"name":"regionName","in":"query","description":"区域","required":false,"type":"string"},{"name":"orgName","in":"query","description":"分支","required":false,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"/claim/{claimId}":{"get":{"tags":["保险理赔管理接口"],"summary":"查询订单理赔详情","operationId":"getSmClaimByClaimIdUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"claimId","in":"path","description":"claimId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmClaimVO"}}}},"post":{"tags":["保险理赔管理接口"],"summary":"修改理赔备注","operationId":"updateClaimNoteUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"claimId","in":"path","description":"claimId","required":true,"type":"integer","format":"int32"},{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/WxClaimDTO"}}],"responses":{"200":{"description":"OK"}}}},"/claim/{claimId}/express":{"get":{"tags":["保险理赔管理接口"],"summary":"查询订单理赔详情快递信息","operationId":"getClaimExpressByClaimIdUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"claimId","in":"path","description":"claimId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SmClaimExpressVO"}}}}}},"/claim/{claimId}/file":{"get":{"tags":["保险理赔管理接口"],"summary":"查询订单理赔文件详情","operationId":"getSmClaimFileCombByClaimIdUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"claimId","in":"path","description":"claimId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SmClaimFileCombVO"}}}}}},"/claim/{claimId}/file/download":{"get":{"tags":["保险理赔管理接口"],"summary":"下载理赔文件","operationId":"downloadClaimFilesUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"claimId","in":"path","description":"理赔Id","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"}}}},"/claim/{claimId}/progress":{"get":{"tags":["保险理赔管理接口"],"summary":"查询理赔历史流程和下一步流程","operationId":"getSmClaimProgressUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"claimId","in":"path","description":"理赔Id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmClaimProgressVO"}}}},"post":{"tags":["保险理赔管理接口"],"summary":"操作理赔流程","operationId":"saveProgressUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"claimId","in":"path","description":"claimId","required":true,"type":"integer","format":"int32"},{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/ProgressDTO"}}],"responses":{"200":{"description":"OK"}}}},"/claim/{claimId}/result":{"put":{"tags":["保险理赔管理接口"],"summary":"更改结案结果","operationId":"updateFinishResultUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"claimId","in":"path","description":"claimId","required":true,"type":"integer","format":"int32"},{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/ProgressDTO"}}],"responses":{"200":{"description":"OK"}}}},"/claim/{claimId}/riskType":{"put":{"tags":["保险理赔管理接口"],"summary":"修改理赔出险类型","operationId":"updateClaimRiskTypeUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"claimId","in":"path","description":"claimId","required":true,"type":"integer","format":"int32"},{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/WxClaimDTO"}}],"responses":{"200":{"description":"OK"}}}},"/claim/{claimId}/settlement":{"put":{"tags":["保险理赔管理接口"],"summary":"修改理赔专员","operationId":"updateClaimSettlementUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"claimId","in":"path","description":"claimId","required":true,"type":"integer","format":"int32"},{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/WxClaimDTO"}}],"responses":{"200":{"description":"OK"}}}},"/commissionSetting":{"get":{"tags":["保险产品提成配置接口"],"summary":"查询产品提成列表","operationId":"getCommissionSettingsByPageUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"productName","in":"query","description":"productName","required":false,"type":"string"},{"name":"fhProductId","in":"query","description":"fhProductId","required":false,"type":"string"},{"name":"date","in":"query","description":"date","required":false,"type":"string","format":"date-time"},{"in":"body","name":"pageable","description":"pageable","required":false,"schema":{"$ref":"#/definitions/Pageable"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageInfo«SmCommissionSettingVO»"}}}},"post":{"tags":["保险产品提成配置接口"],"summary":"保存产品提成","operationId":"addCommissionSettingUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/SmCommissionSettingDTO"}}],"responses":{"200":{"description":"OK"}}}},"/commissionSetting/{id}":{"put":{"tags":["保险产品提成配置接口"],"summary":"修改产品提成","operationId":"modifyCommissionSettingUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/SmCommissionSettingDTO"}}],"responses":{"200":{"description":"OK"}}},"delete":{"tags":["保险产品提成配置接口"],"summary":"删除产品提成","operationId":"deleteCommissionSettingUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"}}}},"/company":{"get":{"tags":["保险公司管理接口"],"summary":"查询保险公司分页列表","operationId":"getCompanysByPageUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"pageable","description":"pageable","required":false,"schema":{"$ref":"#/definitions/Pageable"}},{"name":"keyword","in":"query","description":"公司名称","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageInfo«CompanyVO»"}}}},"post":{"tags":["保险公司管理接口"],"summary":"保存保险公司","operationId":"addCompanyUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/CompanyDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int32"}}}},"put":{"tags":["保险公司管理接口"],"summary":"修改保险公司","operationId":"modifyCompanyUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/CompanyDTO"}}],"responses":{"200":{"description":"OK"}}}},"/company/setting":{"get":{"tags":["保险公司参数配置接口"],"summary":"查询保险公司参数配置分页列表","operationId":"getCompanySettingsByPageUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/CmpySettingQuery"}},{"in":"body","name":"pageable","description":"pageable","required":false,"schema":{"$ref":"#/definitions/Pageable"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageInfo«SmCompanySettingVO»"}}}},"post":{"tags":["保险公司参数配置接口"],"summary":"保存保险公司参数配置","operationId":"saveCompanySettingUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/SmCompanySettingDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int32"}}}}},"/company/setting/occuplCategory/group":{"get":{"tags":["保险公司参数配置接口"],"summary":"查询保险职业列表分组代码","operationId":"getOccupationGroupListUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"companyId","in":"query","description":"保险公司ID","required":false,"type":"integer","format":"int64"},{"name":"productId","in":"query","description":"产品ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}}}}},"/company/setting/{id}":{"delete":{"tags":["保险公司参数配置接口"],"summary":"删除保险公司参数配置","operationId":"deleteCompanySettingUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"配置ID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"}}}},"/company/{id}":{"delete":{"tags":["保险公司管理接口"],"summary":"删除保险公司","operationId":"deleteCompanyUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"公司ID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"}}}},"/company/{id}/occuplCategory/import":{"post":{"tags":["保险公司参数配置接口"],"summary":"导入保险公司职业列表","operationId":"importOccupationUsingPOST","consumes":["multipart/form-data"],"produces":["*/*"],"parameters":[{"name":"file","in":"formData","description":"file","required":true,"type":"file"},{"name":"id","in":"path","description":"保险公司ID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int32"}}}}},"/company/{id}/region/import":{"post":{"tags":["保险公司参数配置接口"],"summary":"导入保险公司地区列表","operationId":"importRegionUsingPOST","consumes":["multipart/form-data"],"produces":["*/*"],"parameters":[{"name":"file","in":"formData","description":"file","required":true,"type":"file"},{"name":"id","in":"path","description":"保险公司ID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int32"}}}}},"/company/{id}/setting/import":{"post":{"tags":["保险公司参数配置接口"],"summary":"导入保险公司参数列表","operationId":"importSettingUsingPOST","consumes":["multipart/form-data"],"produces":["*/*"],"parameters":[{"name":"file","in":"formData","description":"file","required":true,"type":"file"},{"name":"id","in":"path","description":"保险公司ID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int32"}}}}},"/company/{id}/setting/region":{"get":{"tags":["保险公司参数配置接口"],"summary":"查询保险公司地区列表","operationId":"getRegionListUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"保险公司ID","required":true,"type":"integer","format":"int64"},{"name":"parentId","in":"query","description":"父节点Id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SmCompanyRegionVO"}}}}}},"/customer":{"get":{"tags":["保险客户管理接口"],"summary":"查询客户列表","operationId":"getCustomerListByPageUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/CustomerQuery"}},{"name":"customerName","in":"query","description":"客户","required":false,"type":"string"},{"name":"customerType","in":"query","description":"客户类型","required":false,"type":"string"},{"name":"customerAdmin","in":"query","description":"负责人","required":false,"type":"string"},{"name":"regionName","in":"query","description":"区域","required":false,"type":"string"},{"name":"organizationName","in":"query","description":"机构","required":false,"type":"string"},{"name":"policyQtyFrom","in":"query","description":"保单数量from","required":false,"type":"string"},{"name":"policyQtyTo","in":"query","description":"字典code或者name","required":false,"type":"string"},{"name":"policyAmountFrom","in":"query","description":"保费金额from","required":false,"type":"string"},{"name":"policyAmountTo","in":"query","description":"保费金额to","required":false,"type":"string"},{"name":"qtyType","in":"query","description":"数量类别（0投保人 1被保人）","required":false,"type":"string"},{"name":"amountType","in":"query","description":"类别（0投保人 1被保人）","required":false,"type":"string"},{"name":"createDateStart","in":"query","description":"创建时间开始","required":false,"type":"string","format":"date"},{"name":"createDateEnd","in":"query","description":"创建时间结束","required":false,"type":"string","format":"date"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageInfo«CustomerListVO»"}}}}},"/customer/admin":{"post":{"tags":["保险客户管理接口"],"summary":"变更客户负责人","operationId":"changeCustomerAdminUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/CustomerAdminChangeDTO"}}],"responses":{"200":{"description":"OK"}}}},"/customer/download":{"get":{"tags":["保险客户管理接口"],"summary":"查询客户列表下载","operationId":"downloadCustomerListUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/CustomerQuery"}},{"name":"type","in":"query","description":"类别","required":false,"type":"string"},{"name":"keyword","in":"query","description":"字典code或者name","required":false,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"/customer/policy":{"get":{"tags":["保险客户管理接口"],"summary":"查询客户保单信息","operationId":"getCustomerPolicyListUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"idNumbers","in":"query","description":"idNumbers","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CustomerPolicyVO"}}}}}},"/customer/{id}":{"get":{"tags":["保险客户管理接口"],"summary":"查询客户详情","operationId":"getCustomerDetailByIdUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"name":"type","in":"query","description":"类别","required":false,"type":"string"},{"name":"keyword","in":"query","description":"字典code或者name","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomerDetailVO"}}}}},"/dictionary":{"get":{"tags":["系统字典配置接口"],"summary":"查询字典分页列表","operationId":"getDictionarysByPageUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"pageable","description":"pageable","required":false,"schema":{"$ref":"#/definitions/Pageable"}},{"name":"type","in":"query","description":"类别","required":false,"type":"string"},{"name":"keyword","in":"query","description":"字典code或者name","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageInfo«DictionaryVO»"}}}},"post":{"tags":["系统字典配置接口"],"summary":"保存字典","operationId":"addDictionaryUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/DictionaryDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int32"}}}}},"/dictionary/{id}":{"put":{"tags":["系统字典配置接口"],"summary":"保存字典","operationId":"modifyDictionaryUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/DictionaryDTO"}},{"name":"id","in":"path","description":"字典Id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"}}},"delete":{"tags":["系统字典配置接口"],"summary":"删除字典","operationId":"deleteDictionaryUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"字典Id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"}}}},"/file":{"post":{"tags":["系统文件管理接口"],"summary":"新建文件","operationId":"addFileUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/SystemFileDTO"}}],"responses":{"200":{"description":"OK"}}},"delete":{"tags":["系统文件管理接口"],"summary":"删除文件","operationId":"deleteSystemFileUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ids","in":"query","description":"ids","required":true,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK"}}}},"/file/list":{"get":{"tags":["系统文件管理接口"],"summary":"查询文件列表","operationId":"getSystemFilesUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SystemFileQuery"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SystemFileVO"}}}}}},"/file/upload":{"post":{"tags":["系统文件管理接口"],"summary":"文件上传","operationId":"uploadUsingPOST_1","consumes":["multipart/form-data"],"produces":["*/*"],"parameters":[{"name":"file","in":"formData","description":"file","required":true,"type":"file"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/file/{fileId}":{"put":{"tags":["系统文件管理接口"],"summary":"修改文件名称","operationId":"reNameFileUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"fileId","in":"path","description":"fileId","required":true,"type":"integer","format":"int32"},{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/SystemFileDTO"}}],"responses":{"200":{"description":"OK"}}}},"/log":{"get":{"tags":["系统日志管理接口"],"summary":"查询系统日志","operationId":"getCustomerListByPageUsingGET_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SystemLogQuery"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageInfo«SystemLogVO»"}}}}},"/log/modules":{"get":{"tags":["系统日志管理接口"],"summary":"查询系统操作模块","operationId":"getModulesUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}}}}},"/order/callback":{"post":{"tags":["保险订单管理接口"],"summary":"泛华小额保险支付回调接口","operationId":"handFhOrderPayedCallbackUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"orderSn","in":"query","description":"orderSn","required":true,"type":"string"},{"name":"recommendId","in":"query","description":"recommendId","required":false,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"/order/cic/payCallback":{"post":{"tags":["保险订单管理接口"],"summary":"中华联合小额保险支付回调接口","operationId":"handCicOrderPayedCallbackUsingPOST_1","consumes":["text/xml"],"produces":["text/xml"],"parameters":[{"in":"body","name":"xml","description":"xml","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/order/cic/payRedirect":{"post":{"tags":["保险订单管理接口"],"summary":"中华保险支付POST重定向","operationId":"cicPayRedirectUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"fhOrderId","in":"query","description":"fhOrderId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"/order/commission/download":{"get":{"tags":["保险订单管理接口"],"summary":"下载小额保险提成","operationId":"downloadOrderCommissionUsingGET_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmOrderQuery"}}],"responses":{"200":{"description":"OK"}}}},"/order/correct":{"get":{"tags":["保险订单管理接口"],"summary":"查询订单批改记录列表","operationId":"getOrderCorrectRecordsUsingGET_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmOrderCorrectQuery"}},{"name":"page","in":"query","description":"第几页","required":true,"type":"string"},{"name":"size","in":"query","description":"每页数量","required":true,"type":"string"},{"name":"startDate","in":"query","description":"批改时间From","required":false,"type":"string","format":"date"},{"name":"endDate","in":"query","description":"批改时间To","required":false,"type":"string","format":"date"},{"name":"policyNo","in":"query","description":"保单号","required":false,"type":"string"},{"name":"fieldCode","in":"query","description":"变更项目","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageInfo«SmOrderCorrectRecordVO»"}}}},"post":{"tags":["保险订单管理接口"],"summary":"订单批改接口","operationId":"correctOrderUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/SmOrderCorrectDTO"}}],"responses":{"200":{"description":"OK"}}}},"/order/correct/fields":{"get":{"tags":["保险订单管理接口"],"summary":"订单批改项目列表","operationId":"getOrderCorrectFieldsUsingGET_1","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CodeName"}}}}}},"/order/download":{"get":{"tags":["保险订单管理接口"],"summary":"下载小额保险订单","operationId":"downloadOrdersUsingGET_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmOrderQuery"}}],"responses":{"200":{"description":"OK"}}}},"/order/fh/payRedirect":{"get":{"tags":["保险订单管理接口"],"summary":"泛华支付GET重定向","operationId":"fhPayRedirectUsingGET_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"orderId","in":"query","description":"orderId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"/order/order/{id}":{"post":{"tags":["保险订单管理接口"],"summary":"更新订单与泛华同步","operationId":"updateFhOrderInfoUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"/order/query":{"post":{"tags":["保险订单管理接口"],"summary":"查询订单分页列表","operationId":"getOrderByPageUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":true,"schema":{"$ref":"#/definitions/SmOrderQuery"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageInfo«SmOrderListVO»"}}}}},"/order/query/commission":{"post":{"tags":["保险订单管理接口"],"summary":"查询小额保险提成页列表","operationId":"getOrderCommissionByPageUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":true,"schema":{"$ref":"#/definitions/SmOrderQuery"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageInfo«SmOrderListVO»"}}}}},"/order/query/commission/smy":{"post":{"tags":["保险订单管理接口"],"summary":"查询小额保险提成列表汇总","operationId":"getOrderCommissionSummaryUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":true,"schema":{"$ref":"#/definitions/SmOrderQuery"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmOrderSummaryVO"}}}}},"/order/query/smy":{"post":{"tags":["保险订单管理接口"],"summary":"查询订单分页列表汇总","operationId":"getOrderSummaryUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":true,"schema":{"$ref":"#/definitions/SmOrderQuery"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmOrderSummaryVO"}}}}},"/order/supplement":{"get":{"tags":["保险订单管理接口"],"summary":"查询补单记录","operationId":"getSupplementOrderUsingGET_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/OrderSupmtQuery"}},{"name":"page","in":"query","description":"第几页","required":true,"type":"string"},{"name":"size","in":"query","description":"每页数量","required":true,"type":"string"},{"name":"createDateStart","in":"query","description":"创建时间开始","required":false,"type":"string","format":"date"},{"name":"createDateEnd","in":"query","description":"创建时间结束","required":false,"type":"string","format":"date"},{"name":"spmDateStart","in":"query","description":"补单时间开始","required":false,"type":"string","format":"date"},{"name":"spmDateEnd","in":"query","description":"补单时间结束","required":false,"type":"string","format":"date"},{"name":"fhOrderId","in":"query","description":"订单号","required":false,"type":"string"},{"name":"recommendPerson","in":"query","description":"推荐人","required":false,"type":"string"},{"name":"applicantPersonName","in":"query","description":"投保人","required":false,"type":"string"},{"name":"insuredPersonName","in":"query","description":"被保人","required":false,"type":"string"},{"name":"agentName","in":"query","description":"代理人","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageInfo«SmOrderSupmtRecordVO»"}}}},"post":{"tags":["保险订单管理接口"],"summary":"订单补单同步到系统","operationId":"supplementOrderUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/SmOrderSupmtDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/order/update/batch":{"post":{"tags":["保险订单管理接口"],"summary":"批量更新订单与泛华同步","operationId":"batchUpdateFhOrderInfoUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ids","in":"query","description":"ids","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK"}}}},"/product/attentions":{"post":{"tags":["保险产品管理接口"],"summary":"保存产品常见问题","operationId":"saveProductAttentionUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/SmProductAttentionDTO"}}],"responses":{"200":{"description":"OK"}}}},"/product/attr":{"get":{"tags":["保险产品管理接口"],"summary":"查询产品类别","operationId":"getProductAttrsUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/DictionaryVO"}}}}}},"/product/backend":{"post":{"tags":["保险产品管理接口"],"summary":"查询管理后端产品列表","operationId":"getBackendProductByPageUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":true,"schema":{"$ref":"#/definitions/SmProductQuery"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageInfo«SmProductListVO»"}}}}},"/product/basic":{"post":{"tags":["保险产品管理接口"],"summary":"保存产品基本信息","operationId":"saveProductBaseInfoUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/SmProductDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int32"}}}}},"/product/channel":{"get":{"tags":["保险产品管理接口"],"summary":"查询产品渠道","operationId":"getProductChannelsUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/DictionaryVO"}}}}}},"/product/healthNotification":{"post":{"tags":["保险产品管理接口"],"summary":"保存产品健康告知","operationId":"saveProductHealthNotificationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/SmProductNotificationDTO"}}],"responses":{"200":{"description":"OK"}}}},"/product/insureForm":{"post":{"tags":["保险产品管理接口"],"summary":"保存产品投保信息录入列表","operationId":"saveProductInsureFormUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"fields","description":"fields","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/SmProductFormFieldCombDTO"}}}],"responses":{"200":{"description":"OK"}}}},"/product/plan":{"get":{"tags":["保险产品管理接口"],"summary":"查询所有产品计划列表","operationId":"getProductPlansListUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SmPlanVO"}}}}}},"/product/plan/factor/price":{"post":{"tags":["保险产品管理接口"],"summary":"保存产品计划价格费率表","operationId":"savePlanFactorPriceUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"prices","description":"prices","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/SmOptionalFieldPriceDTO"}}}],"responses":{"200":{"description":"OK"}}}},"/product/poster":{"get":{"tags":["保险产品海报管理接口"],"summary":"查询海报列表","operationId":"getProductPosterByPageUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"keyword","in":"query","description":"keyword","required":false,"type":"string"},{"in":"body","name":"pageable","description":"pageable","required":false,"schema":{"$ref":"#/definitions/Pageable"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageInfo«SmProductPosterVO»"}}}},"post":{"tags":["保险产品海报管理接口"],"summary":"保存产品海报","operationId":"saveProductPosterUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/SmProductPosterDTO"}}],"responses":{"200":{"description":"OK"}}}},"/product/poster/{id}":{"get":{"tags":["保险产品海报管理接口"],"summary":"查询产品海报详情","operationId":"getProductPosterByIdUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmProductPosterVO"}}}},"delete":{"tags":["保险产品海报管理接口"],"summary":"删除产品海报","operationId":"deleteProductPosterUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"}}}},"/product/price/factor/optionals":{"post":{"tags":["保险产品管理接口"],"summary":"保存产品价格因素可选值","operationId":"saveProductFactorOptionalsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"optionals","description":"optionals","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/SmFactorOptionalDTO"}}}],"responses":{"200":{"description":"OK"}}}},"/product/price/factors":{"get":{"tags":["保险产品管理接口"],"summary":"查询价格因素IdName对应关系","operationId":"getPriceFactorsUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"string"}}}}}},"/product/renew":{"get":{"tags":["保险产品管理接口"],"summary":"查询所有产品续保列表","operationId":"getProductRenewsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"productName","in":"query","description":"productName","required":false,"type":"string"},{"in":"body","name":"pageable","description":"pageable","required":false,"schema":{"$ref":"#/definitions/Pageable"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageInfo«SmProductRenewVO»"}}}}},"/product/sales/org":{"get":{"tags":["保险产品管理接口"],"summary":"查询所有产品销售区域列表","operationId":"getOnlineProductSalesOrgsUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Collection«SmProductSalesOrgVO»"}}}},"post":{"tags":["保险产品管理接口"],"summary":"保存产品销售区域列表","operationId":"saveProductSalesOrgUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"psos","description":"psos","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/SmProductSalesOrgDTO"}}}],"responses":{"200":{"description":"OK"}}}},"/product/simple":{"post":{"tags":["保险产品管理接口"],"summary":"查询活动产品列表","operationId":"getActivityProductsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":true,"schema":{"$ref":"#/definitions/ActivityProductQuery"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageInfo«SmActivityProductVO»"}}}}},"/product/upload":{"post":{"tags":["保险产品管理接口"],"summary":"产品图片文件上传","operationId":"uploadUsingPOST","consumes":["multipart/form-data"],"produces":["*/*"],"parameters":[{"name":"file","in":"formData","description":"file","required":true,"type":"file"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/product/{id}/attentions":{"get":{"tags":["保险产品管理接口"],"summary":"查询产品常见问题","operationId":"getProductAttentionUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"产品ID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/product/{id}/basic":{"get":{"tags":["保险产品管理接口"],"summary":"查询产品详情基本信息","operationId":"getProductByIdUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"产品ID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmProductDetailVO"}}}}},"/product/{id}/change/{status}":{"put":{"tags":["保险产品管理接口"],"summary":"修改保险产品状态","operationId":"updateProductStatusUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"产品ID","required":true,"type":"integer","format":"int64"},{"name":"status","in":"path","description":"状态（1上线  2下线）","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"}}}},"/product/{id}/clause":{"get":{"tags":["保险产品管理接口"],"summary":"查询产品保险条款","operationId":"getProductClauseUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"产品ID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SmProductClauseVO"}}}}},"post":{"tags":["保险产品管理接口"],"summary":"保存产品保险条款","operationId":"saveProductClauseUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"in":"body","name":"clauses","description":"clauses","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/SmProductClauseDTO"}}}],"responses":{"200":{"description":"OK"}}}},"/product/{id}/healthNotification":{"get":{"tags":["保险产品管理接口"],"summary":"查询产品健康告知","operationId":"getProductHealthNotificationUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"产品ID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/product/{id}/insureForm":{"get":{"tags":["保险产品管理接口"],"summary":"查询产品投保信息录入列表","operationId":"getProductFormFieldsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"产品ID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Collection«SmProductFormFieldCombDTO»"}}}}},"/product/{id}/introduce":{"get":{"tags":["保险产品管理接口"],"summary":"查询团险产品介绍","operationId":"getProductIntroduceUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["保险产品管理接口"],"summary":"保存团险产品介绍","operationId":"saveProductIntroduceUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/SmProductDTO"}}],"responses":{"200":{"description":"OK"}}}},"/product/{id}/notice":{"get":{"tags":["保险产品管理接口"],"summary":"查询团险产品投保须知","operationId":"getProductNoticeUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"产品ID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["保险产品管理接口"],"summary":"保存团险产品投保须知","operationId":"saveProductNoticeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/SmProductDTO"}}],"responses":{"200":{"description":"OK"}}}},"/product/{id}/plan":{"get":{"tags":["保险产品管理接口"],"summary":"查询产品计划","operationId":"getProductPlansByPageUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"产品ID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SmPlanVO"}}}}},"post":{"tags":["保险产品管理接口"],"summary":"保存产品计划","operationId":"saveProductPlanUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"in":"body","name":"plans","description":"plans","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/SmPlanDTO"}}}],"responses":{"200":{"description":"OK"}}}},"/product/{id}/plan/price/factor":{"get":{"tags":["保险产品管理接口"],"summary":"查询产品计划价格费率表","operationId":"getPlanFactorPriceUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"产品ID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SmPlanFactorPriceVO"}}}}}},"/product/{id}/plan/{planId}":{"delete":{"tags":["保险产品管理接口"],"summary":"删除产品计划","operationId":"deleteProductPlanUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"name":"planId","in":"path","description":"planId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"}}}},"/product/{id}/price/factor/optionals":{"get":{"tags":["保险产品管理接口"],"summary":"查询产品保险价格选项","operationId":"getProductPriceFactorOptionsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"产品ID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmPriceFactorOptionalsVO"}}}}},"/product/{id}/price/factor/select":{"get":{"tags":["保险产品管理接口"],"summary":"查询产品价格因素字段code","operationId":"getProductPriceFactorUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"产品ID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}}}},"post":{"tags":["保险产品管理接口"],"summary":"保存产品价格因素code","operationId":"saveProductPriceFactorUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"selects","description":"selects","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"id","in":"path","description":"产品ID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"}}}},"/product/{id}/renew":{"get":{"tags":["保险产品管理接口"],"summary":"查询单个产品续保列表","operationId":"getProductRenewsByProductIdUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SmProductRenewVO"}}}}},"post":{"tags":["保险产品管理接口"],"summary":"保存产品续保列表","operationId":"saveProductRenewsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"in":"body","name":"renews","description":"renews","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/SmProductRenewDTO"}}}],"responses":{"200":{"description":"OK"}}}},"/product/{id}/sales/org":{"get":{"tags":["保险产品管理接口"],"summary":"查询单个产品销售区域列表","operationId":"getProductSalesOrgsByProductIdUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"产品ID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Collection«SmProductSalesOrgVO»"}}}}},"/product/{productId}/coverage":{"get":{"tags":["保险产品管理接口"],"summary":"查询产品保障项目","operationId":"getProductCoverageListUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"productId","in":"path","description":"产品ID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SmProductCoverageVO"}}}}},"post":{"tags":["保险产品管理接口"],"summary":"保存产品保障项目","operationId":"saveProductCoverageUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dtos","description":"dtos","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/SmProductCoverageDTO"}}},{"name":"productId","in":"path","description":"产品ID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"}}}},"/product/{productId}/coverage/amount":{"get":{"tags":["保险产品管理接口"],"summary":"查询产品保障项目保额","operationId":"getProductCoverageAmountListUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"productId","in":"path","description":"产品ID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SmProductCoverageAmountItemVO"}}}}},"post":{"tags":["保险产品管理接口"],"summary":"保存产品保障项目保额","operationId":"saveProductCoverageAmountUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dtos","description":"dtos","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/SmProductCoverageAmountItemDTO"}}},{"name":"productId","in":"path","description":"产品ID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"}}}},"/product/{productId}/coverage/amount/{spcaId}":{"delete":{"tags":["保险产品管理接口"],"summary":"删除产品保障项目保额","operationId":"deleteProductCoverageAmountUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"productId","in":"path","description":"产品ID","required":true,"type":"integer","format":"int64"},{"name":"spcaId","in":"path","description":"保障项目保额主键Id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"}}}},"/product/{productId}/coverage/discount":{"get":{"tags":["保险产品管理接口"],"summary":"查询团险产品保费折扣比例","operationId":"getProductCoverageDiscountListUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"productId","in":"path","description":"产品ID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SmProductCoverageDiscountVO"}}}}},"post":{"tags":["保险产品管理接口"],"summary":"保存团险产品保费折扣比例","operationId":"saveProductCoverageDiscountUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dtos","description":"dtos","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/SmProductCoverageDiscountDTO"}}},{"name":"productId","in":"path","description":"产品ID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"}}}},"/product/{productId}/coverage/discount/{spcdId}":{"delete":{"tags":["保险产品管理接口"],"summary":"删除团险产品保费折扣比例","operationId":"deleteProductCoverageDiscountUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"productId","in":"path","description":"产品ID","required":true,"type":"integer","format":"int64"},{"name":"spcdId","in":"path","description":"折扣Id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"}}}},"/product/{productId}/coverage/premium":{"get":{"tags":["保险产品管理接口"],"summary":"查询产品保障项目保费","operationId":"getProductCoveragePremiumListUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"productId","in":"path","description":"产品ID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SmProductCoveragePremiumItemVO"}}}}},"post":{"tags":["保险产品管理接口"],"summary":"保存产品保障项目保费","operationId":"saveProductCoveragePremiumUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dtos","description":"dtos","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/SmProductCoveragePremiumItemDTO"}}},{"name":"productId","in":"path","description":"产品ID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"}}}},"/product/{productId}/coverage/premium/generate":{"get":{"tags":["保险产品管理接口"],"summary":"生成产品保障项目保费","operationId":"generateProductCoveragePremiumUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"productId","in":"path","description":"产品ID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"}}}},"/product/{productId}/coverage/premium/import":{"post":{"tags":["保险产品管理接口"],"summary":"导入品保障项目保费","operationId":"importProductCoveragePremiumUsingPOST","consumes":["multipart/form-data"],"produces":["*/*"],"parameters":[{"name":"file","in":"formData","description":"file","required":true,"type":"file"},{"name":"productId","in":"path","description":"产品ID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int32"}}}}},"/product/{productId}/coverage/premium/template":{"get":{"tags":["保险产品管理接口"],"summary":"品保障项目保费模板下载","operationId":"downloadProductCoveragePremiumTemplateUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"productId","in":"path","description":"产品ID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"}}}},"/product/{productId}/coverage/{spcId}":{"delete":{"tags":["保险产品管理接口"],"summary":"删除产品保障项目","operationId":"deleteProductCoverageUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"productId","in":"path","description":"产品ID","required":true,"type":"integer","format":"int64"},{"name":"spcId","in":"path","description":"保障项目主键Id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"}}}},"/product/{productId}/quote/limit":{"get":{"tags":["保险产品管理接口"],"summary":"查询团险产品报价限制","operationId":"getProductQuoteLimitUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"productId","in":"path","description":"产品ID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmProductQuoteLimitVO"}}}},"post":{"tags":["保险产品管理接口"],"summary":"保存团险产品报价限制","operationId":"saveProductQuoteLimitUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/SmProductQuoteLimitDTO"}},{"name":"productId","in":"path","description":"产品ID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"}}}},"/product/{productId}/quote/limit/{spqlId}":{"delete":{"tags":["保险产品管理接口"],"summary":"保存团险产品报价限制","operationId":"deleteProductQuoteLimitUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"productId","in":"path","description":"产品ID","required":true,"type":"integer","format":"int64"},{"name":"spqlId","in":"path","description":"报价限制Id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"}}}},"/push/setting/{spsId}":{"delete":{"tags":["推送设置管理接口"],"summary":"删除系统推送设置","operationId":"deleteSystemPushSettingUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"spsId","in":"path","description":"spsId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"}}}},"/push/setting/{spsId}/status":{"put":{"tags":["推送设置管理接口"],"summary":"修改系统推送设置启用状态","operationId":"updateSystemPushSettingStatusUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"spsId","in":"path","description":"spsId","required":true,"type":"integer","format":"int32"},{"name":"status","in":"query","description":"status","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"}}}},"/push/settings/dateType":{"get":{"tags":["推送设置管理接口"],"summary":"查询推送统计时间段type列表","operationId":"getPushDataTypesUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CodeName"}}}}}},"/push/settings/{pushType}":{"get":{"tags":["推送设置管理接口"],"summary":"查询系统推送设置","operationId":"getSystemPushSettingUsingGET_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"pushType","in":"path","description":"pushType","required":true,"type":"string"},{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SystemPushSettingQuery"}},{"name":"page","in":"query","description":"第几页","required":true,"type":"string"},{"name":"size","in":"query","description":"每页数量","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageInfo«SystemPushSettingVO»"}}}},"post":{"tags":["推送设置管理接口"],"summary":"保存系统推送设置","operationId":"saveSystemPushSettingUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"pushType","in":"path","description":"pushType","required":true,"type":"string"},{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/SystemPushSettingDTO"}}],"responses":{"200":{"description":"OK"}}}},"/push/settings/{pushType}/{spsId}":{"get":{"tags":["推送设置管理接口"],"summary":"查询系统推送详情","operationId":"getSystemPushSettingUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"pushType","in":"path","description":"pushType","required":true,"type":"string"},{"name":"spsId","in":"path","description":"spsId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SystemPushSettingVO"}}}}},"/report/custTransfer/list":{"get":{"tags":["保险业务报表接口"],"summary":"查询保险信贷转化数据报表","operationId":"getSmCustTransferListByPageUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmOrderReportQuery"}},{"name":"page","in":"query","description":"第几页","required":true,"type":"string"},{"name":"size","in":"query","description":"每页数量","required":true,"type":"string"},{"name":"regionName","in":"query","description":"区域名称","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmyPageInfo«SmCustTransferListVO,Void»"}}}}},"/report/custTransfer/list/download":{"get":{"tags":["保险业务报表接口"],"summary":"下载保险信贷转化数据报表","operationId":"downloadSmCustTransferListUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmOrderReportQuery"}},{"name":"regionName","in":"query","description":"区域名称","required":false,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"/report/custTransfer/org":{"get":{"tags":["保险业务报表接口"],"summary":"查询保险客户分支转化统计报表","operationId":"getSmCustTransferOrgByPageUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmOrderReportQuery"}},{"name":"page","in":"query","description":"第几页","required":true,"type":"string"},{"name":"size","in":"query","description":"每页数量","required":true,"type":"string"},{"name":"regionName","in":"query","description":"区域名称","required":false,"type":"string"},{"name":"orgName","in":"query","description":"分支名称","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmyPageInfo«SmCustTransferOrgVO,Void»"}}}}},"/report/custTransfer/org/download":{"get":{"tags":["保险业务报表接口"],"summary":"下载保险客户分支转化统计报表","operationId":"downloadSmCustTransferOrgUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmOrderReportQuery"}},{"name":"regionName","in":"query","description":"区域名称","required":false,"type":"string"},{"name":"orgName","in":"query","description":"分支名称","required":false,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"/report/custTransfer/region":{"get":{"tags":["保险业务报表接口"],"summary":"查询保险客户区域转化统计报表","operationId":"getSmCustTransferPercentByPageUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmOrderReportQuery"}},{"name":"page","in":"query","description":"第几页","required":true,"type":"string"},{"name":"size","in":"query","description":"每页数量","required":true,"type":"string"},{"name":"regionName","in":"query","description":"区域名称","required":false,"type":"string"},{"name":"orgName","in":"query","description":"分支名称","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmyPageInfo«SmCustTransferRegionVO,Void»"}}}}},"/report/custTransfer/region/download":{"get":{"tags":["保险业务报表接口"],"summary":"下载保险客户区域转化统计报表","operationId":"downloadSmCustTransferPercentUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmOrderReportQuery"}},{"name":"regionName","in":"query","description":"区域名称","required":false,"type":"string"},{"name":"orgName","in":"query","description":"分支名称","required":false,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"/report/dashboard/region/trend":{"get":{"tags":["保险业务报表接口"],"summary":"小额保险-区域销售分析","operationId":"getSmRegionTrendUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmOrderTrendQuery"}},{"name":"startDate","in":"query","description":"订单创建时间开始","required":true,"type":"string","format":"date"},{"name":"endDate","in":"query","description":"订单创建时间结束","required":true,"type":"string","format":"date"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmRegionTrendVO"}}}}},"/report/dashboard/sales/smy":{"get":{"tags":["保险业务报表接口"],"summary":"小额保险-今日昨日累计汇总","operationId":"getSmSmSmyUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmSmyVO"}}}}},"/report/dashboard/sales/top":{"get":{"tags":["保险业务报表接口"],"summary":"小额保险-销售排行","operationId":"getSmRegionTopUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmOrderTrendQuery"}},{"name":"startDate","in":"query","description":"订单创建时间开始","required":true,"type":"string","format":"date"},{"name":"endDate","in":"query","description":"订单创建时间结束","required":true,"type":"string","format":"date"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmSalesTopVO"}}}}},"/report/dashboard/sales/trend":{"get":{"tags":["保险业务报表接口"],"summary":"小额保险-销售趋势汇总","operationId":"getSmSalesTrendUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"group","in":"query","description":"分组条件:日(day) 周(week)月(month) 年(year) ","required":true,"type":"string"},{"name":"regionName","in":"query","description":"区域名称 ","required":false,"type":"string"},{"name":"orgName","in":"query","description":"分支名称","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmSalesTrendVO"}}}}},"/report/employee":{"get":{"tags":["保险业务报表接口"],"summary":"查询按人员统计报表","operationId":"getSmStaffSalesSmyByPageUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmOrderReportQuery"}},{"name":"page","in":"query","description":"第几页","required":true,"type":"string"},{"name":"size","in":"query","description":"每页数量","required":true,"type":"string"},{"name":"regionName","in":"query","description":"区域名称","required":false,"type":"string"},{"name":"orgName","in":"query","description":"分支名称","required":false,"type":"string"},{"name":"userName","in":"query","description":"员工名称","required":false,"type":"string"},{"name":"userStatus","in":"query","description":"员工状态","required":false,"type":"string"},{"name":"datumDate","in":"query","description":"基准时间","required":false,"type":"string","format":"date"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmyPageInfo«SmStaffSalesSmyVO,SmStaffSalesSmyVO»"}}}}},"/report/employee/download":{"get":{"tags":["保险业务报表接口"],"summary":"下载按人员统计报表","operationId":"downloadSmStaffSalesSmyByPageUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmOrderReportQuery"}},{"name":"regionName","in":"query","description":"区域名称","required":false,"type":"string"},{"name":"orgName","in":"query","description":"分支名称","required":false,"type":"string"},{"name":"userName","in":"query","description":"员工名称","required":false,"type":"string"},{"name":"datumDate","in":"query","description":"基准时间","required":false,"type":"string","format":"date"}],"responses":{"200":{"description":"OK"}}}},"/report/org":{"get":{"tags":["保险业务报表接口"],"summary":"查询按分支统计报表","operationId":"getSmOrgSalesSmyByPageUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmOrderReportQuery"}},{"name":"page","in":"query","description":"第几页","required":true,"type":"string"},{"name":"size","in":"query","description":"每页数量","required":true,"type":"string"},{"name":"regionName","in":"query","description":"区域名称","required":false,"type":"string"},{"name":"orgName","in":"query","description":"分支名称","required":false,"type":"string"},{"name":"datumDate","in":"query","description":"基准时间","required":false,"type":"string","format":"date"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmyPageInfo«SmOrgSalesSmyVO,SmOrgSalesSmyVO»"}}}}},"/report/org/download":{"get":{"tags":["保险业务报表接口"],"summary":"下载按区域统计报表","operationId":"downloadSmOrgSalesSmyByPageUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmOrderReportQuery"}},{"name":"regionName","in":"query","description":"区域名称","required":false,"type":"string"},{"name":"orgName","in":"query","description":"分支名称","required":false,"type":"string"},{"name":"datumDate","in":"query","description":"基准时间","required":false,"type":"string","format":"date"}],"responses":{"200":{"description":"OK"}}}},"/report/product":{"get":{"tags":["保险业务报表接口"],"summary":"查询按产品统计报表","operationId":"getSmProductSalesSmyByPageUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmOrderReportQuery"}},{"name":"regionName","in":"query","description":"区域名称","required":false,"type":"string"},{"name":"startDate","in":"query","description":"订单创建时间开始","required":false,"type":"string","format":"date"},{"name":"endDate","in":"query","description":"订单创建时间结束","required":false,"type":"string","format":"date"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmyPageInfo«SmProductSalesSmyVO,SmProductSalesSmyVO»"}}}}},"/report/product/download":{"get":{"tags":["保险业务报表接口"],"summary":"下载按产品统计报表","operationId":"downloadSmProductSalesSmyByPageUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"query","description":"query","required":false,"schema":{"$ref":"#/definitions/SmOrderReportQuery"}},{"name":"regionName","in":"query","description":"区域名称","required":false,"type":"string"},{"name":"startDate","in":"query","description":"订单创建时间开始","required":false,"type":"string","format":"date"},{"name":"endDate","in":"query","description":"订单创建时间结束","required":false,"type":"string","format":"date"}],"responses":{"200":{"description":"OK"}}}},"/report/region":{"get":{"tags":["保险业务报表接口"],"summary":"查询按区域统计报表","operationId":"getSmRegionSalesSmByPageUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"
[...]
